@import "./variables.scss";
@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables.scss";

body {
  font-family: "Poppins", sans-serif;
  background-color: $color-bg;
  color: $color-text;
}

