$desktop-width: 1440px;
$mobile-width: 375px;
$tablet-width: 576px;

// Colors
$color-primary: #6366f1;
$color-success: #10b981;
$color-error: #dc2626;
$color-text: #333;
$color-bg: #f9fafb;

